* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url(img/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(224, 232, 255);
}

.container{
    width: 450px;
    height: 700px;
    background-color: white;
    background-image: none;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius:20px;
}

.img {
    height: 220px;
    background-image: none;
    border-radius:20px 20px 0 0;
    margin-bottom: 20px;


}
.imgH {
    border-radius:20px 20px 0 0;

}
.orderSummary{
    height: 25%;
    background-image: none;
    position: relative;
    
}
h1,h2 {
    text-align: center;
    font-family: Arial;
    background-image: none;
    background-color: white;
    padding-top: 25px;

}
h1 {
    
    font-size: 25px;
    font-weight: bold;
    letter-spacing:1px
}
h2 {
    font-size: 15px;
    color:rgb(164, 168, 180);
    font-weight: normal;
    padding-left: 70px;
    padding-right: 70px;
    line-height: 1.4;
}

.content{
    background-image: none;
    background-color: white;
}
.payment {
    background-color: rgb(248, 249, 254);
    background-image: none;
    margin-left: 50px;
    margin-right: 50px;
    height: 100px;
    border-radius:20px;
    margin-top: 30px;
    display:flex;
}
.ico{
    border-radius:50%;
    background-color: rgb(248, 249, 254);
    margin:auto;
    position: relative;
    top:25%;
    left: 50%

}
.pay1 {
    background-image: none;
    background-color: rgb(248, 249, 254);
    border-radius: 20px 0 0 20px;
    
}
.pay2 {
    background-image: none;
    margin-left: 50px;
    background-color: rgb(248, 249, 254);
}
h3,h4{
    font-family: Arial;
    background-image: none;
    background-color: rgb(248, 249, 254);
    text-align: left;
    
}
h3 {
    font-size: 16px;
    margin-top: 25px;
    font-weight: bold;
}
h4 {
    margin-top: 14px;
    font-weight: lighter;
    color: rgb(118, 125, 144);

}
.pay3{
    margin:auto auto auto 85px;
    background-image: none;
    background-color: rgb(248, 249, 254);
    
}
a { 
    background-color: rgb(248, 249, 254); 
    background-image: none;
}

.conButt {
    height: 100px;
    background-image: none;
    background-color: white;
    position: relative;
    padding-left: 10%;
    padding-top: 5%
    
}
button {
    font-size: 25;
    height:50px;
    width:350px; 
    background-color: rgb(56, 42, 225);
    background-image: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-family: Arial;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.274), 0 6px 20px 0 rgba(0, 0, 0, 0.116);
    border-color: transparent;
    cursor: pointer;
}
button:hover {
    background-color: rgb(118, 108, 241);
}
.change:hover { 
    color:rgb(125, 115, 211);
    text-decoration: none;
}
.bottom {
text-align: center;
background-image: none;
background-color: white;
margin-top: 20px;
}
.bottomline {
color:rgb(119, 125, 153);
text-decoration: none;
font-weight: bold;
font-family: Arial;
font-size: 15px;
}
.bottomline:hover {
    color: black;
}